/models/*
!/models/.gitkeep
/checkpoints/*
/gemma-2-2b-checkpoints/*
/Qwen2.5-Math-1.5B-Instruct-checkpoints/*
/gemma-2-2b-checkpoints/
/Qwen2.5-Math-1.5B-Instruct-checkpoints/
/checkpoints/

# Environment / cache files
.env
.venv/
venv/
__pycache__/
grpo/__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.pyc
.cache/
